.gears {
    padding: 96px 0;

    &__info {
        column-gap: 64px;
    }

    &__icon {
        margin-bottom: 14px;

    }

    &__title {
        margin-bottom: 14px;
        @include text (normal, 400, 25px, 32px, $color-1);

    }

    &__subtitle {
        margin-bottom: 14px;
        @include text (normal, 400, 18px, 27px, $color-1);

    }
}