.included {
    background-color: $color-5;

    padding: 96px 0;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        max-width: 59px;
        height: 59px;
        background-color: $color-11;
        top: 0;
        left: 0;


    }

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        max-width: 59px;
        height: 59px;
        background-color: $color-7;
        top: 365px;
        right: 144px;


    }



    &__name {

        &_what {
            @include text (normal, 700, 36px, 48px, $color-10);
            text-align: center;
            margin-bottom: 47px;
        }
 
    }

    &__block {
        column-gap: 80px;
    }

    &__num {
        @include text (normal, 700, 80px, 64px, $color-10);
        text-align: center;
        margin-bottom: 33px;
    }

    &__title {
        @include text (normal, 400, 17px, 27px, $color-10);
        text-align: center;
        margin-bottom: 12px;
    }

}